In [19]:
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [20]:
data = pd.read_csv('salaries version 1.6 - after data preprocessing.csv')
data.corr()

,age,annual salary,bonus,years of experience,field years of experience,highest level of education
age,1.000000,0.183152,0.010827,0.767405,0.633542,0.041789
annual salary,0.183152,1.000000,0.302129,0.229226,0.311487,0.185366
bonus,0.010827,0.302129,1.000000,0.036071,0.064212,-0.003912
years of experience,0.767405,0.229226,0.036071,1.000000,0.751795,-0.041644
field years of experience,0.633542,0.311487,0.064212,0.751795,1.000000,0.007457
highest level of education,0.041789,0.185366,-0.003912,-0.041644,0.007457,1.000000

In [21]:
filtered_data = data[data["industry"] == "Computing or Tech"]

# Print the filtered data
print(filtered_data)

       age           industry                                 job title  \
1        2  Computing or Tech  Change & Internal Communications Manager
8        4  Computing or Tech                           Systems Analyst
40       2  Computing or Tech                      Intelligence Analyst
42       3  Computing or Tech                          Mobile developer
48       3  Computing or Tech        Managed Services Sales Coordinator
...    ...                ...                                       ...
24733    1  Computing or Tech               Help Desk Associate Analyst
24736    4  Computing or Tech                         Technical Analyst
24738    2  Computing or Tech                      Software Engineer II
24745    3  Computing or Tech                             Porting Agent
24748    4  Computing or Tech                       Junior Data Analyst

       annual salary    bonus country  years of experience  \
1            67704.0   4960.0     GBR                    3
8           112000.0  10000.0     USA                    5
40          110000.0  20000.0     USA                    3
42          144600.0   2500.0     USA                    2
48           72000.0   3000.0     USA                    4
...              ...      ...     ...                  ...
24733        36000.0      0.0     USA                    2
24736        45109.0      0.0     USA                    5
24738       116421.0   3000.0     USA                    1
24745        60000.0   5000.0     USA                    5
24748        65000.0      0.0     USA                    5

       field years of experience  highest level of education  \
1                              2                         3.0
8                              5                         3.0
40                             3                         4.0
42                             2                         6.0
48                             2                         4.0
...                          ...                         ...
24733                          1                         3.0
24736                          0                         3.0
24738                          1                         3.0
24745                          1                         2.0
24748                          0                         3.0

                     gender
1      Prefer not to answer
8                     Woman
40                      Man
42                    Woman
48                    Woman
...                     ...
24733                   Man
24736                   Man
24738                   Man
24745                   Man
24748                   Man

[3851 rows x 10 columns]

In [22]:
data = filtered_data.copy()
# Split data into input (X) and output (y) variables
X = data[['highest level of education',  'years of experience', 'age','annual salary']]
y = data['field years of experience']
model = LinearRegression()
model.fit(X, y)
print('Intercept:', model.intercept_)
print('Coefficients:', model.coef_)
new_input = np.array([[3, 3, 2, 67704]])  # highest level of education = 5, field years of experience = 3, years of experience = 8, age = 35
predicted_output = model.predict(new_input)
print('Predicted output:', predicted_output)

Intercept: -0.7195507559974246
Coefficients: [-6.85745435e-02  6.39011299e-01  3.03562549e-01  5.89854531e-06]
Predicted output: [1.99823972]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
data = filtered_data.copy()
X = filtered_data[['highest level of education',  'years of experience', 'age','annual salary']]
y = filtered_data['field years of experience']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
# Print the R-squared score
print('Accuracy:', model.score(X_train , y_train))
print('Accuracy:', model.score(X_test , y_test))

Accuracy: 0.6311956488446441
Accuracy: 0.6791985526316592